@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media only screen and (max-width: 600px) {
  .container{
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px){
  .container{
    max-width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .container{
    max-width: 40%;
  }
}

.container{
  top: 30%;
  margin: auto;
  background: 	#080808;
  color: white;
  font-family: 'Ubuntu', sans-serif !important;
  padding: 2%;
  border: 2%;
}

h1{
  font-size: 35px;
}
h2{
  font-size: 25px;
}

mat-toolbar{
  background: 	#080808;
  color: white;
}


.icon{
  background-image: url('https://img.icons8.com/plasticine/40/000000/chuck-norris.png');
}

.bg{
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

