<ngx-spinner bdColor = "rgba(0,0,0,0)" size = "large" color = "#ffffff" type = "ball-8bits" [fullScreen] = "true"></ngx-spinner>
<mat-toolbar>
    <h2 (click)="OnFav()" id="toolbar">Hit Me With Another One</h2>
    <span class="spacer"></span>
    <mat-slide-toggle (change)="onToggleTheme($event)"></mat-slide-toggle>
</mat-toolbar>


<div class="card">
    <mat-card *ngIf="joke">
        <mat-card-content >
            <h1>
                {{joke.setup}}
            </h1>
            <h2>
                {{joke.punchline}}
            </h2>

        </mat-card-content>
        <button mat-flat-button (click)="OnNext()">ANOTHER ONE</button>
    </mat-card>
</div>

