@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@media only screen and (max-width: 600px) {
  .container{
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px){
  .container{
    max-width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .container{
    max-width: 40%;
  }
}

.container{
  top: 30%;
  margin: auto;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
  color: white;
  font-family: 'Ubuntu', sans-serif !important;
  padding: 2%;
  border: solid;
  border-color: rgba(255, 255, 255, .45);
  border-width: 4px;
  transform-style: preserve-3d;
  glare: true;
}


h1{
  font-size: 35px;
  font-weight: bold;
}
h2{
  font-size: 25px;
  font-weight: lighter;
}

mat-toolbar{
  background-color: rgba(255, 255, 255, .20);
  backdrop-filter: blur(5px);
  color: white;
}

#toolbar{
  font-weight: bolder;
}


.bg{
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

#flat-btn{
  font-size: 1.5em;
  padding: 1.5%;
  padding-left: 10.0%;
  padding-right: 10.0%;
  align: center;
  background: black;
  color: white;
  transform: translateZ(100px);
  letter-spacing: 0.3em;
  /* font-family: 'Press Start 2P', cursive !important; */

  font-family: 'Oswald', sans-serif !important;
}

